Nama = Elviyani Mawarni
NIM = G.231.22.0077

In [ ]:
def selectionSort(alist):
  for a in range(0, len(alist)-1):
    letak = a
    for tempat in range(a+1, len(alist)):
      if alist[tempat]<alist[letak]:
        letak = tempat
    t = alist[a]
    alist[a]=alist[letak]
    alist[letak]=t
    print(alist)

number = [3,9,6,4,10,5,0]
selectionSort(number)
print(number)

[0, 9, 6, 4, 10, 5, 3]
[0, 3, 6, 4, 10, 5, 9]
[0, 3, 4, 6, 10, 5, 9]
[0, 3, 4, 5, 10, 6, 9]
[0, 3, 4, 5, 6, 10, 9]
[0, 3, 4, 5, 6, 9, 10]
[0, 3, 4, 5, 6, 9, 10]

Praktikum 2
Tuple

In [7]:
siswa = ("MARK", "HAECHAN")
tuple_n = (99, 86, 82, 95, 98)
nilai_tinggi = max(tuple_n)
nilai_rendah = min(tuple_n)

print("Nilai tertinggi:", siswa[0], nilai_tinggi)
print("Nilai terendah:", siswa[1], nilai_rendah)

Nilai tertinggi: MARK 99
Nilai terendah: HAECHAN 82

Praktikum 2 Dictionary

In [25]:

mahasiswa = {
    "name": "Mark Lee",
    "usia": 24,
    "prodi": "Teknik Informatika",
    "fakultas": "Fakultas Teknik",
    "nilai": {
        "struktur_data": 87,
        "bahasa_inggris": 96,
        "kecerdasan_buatan": 85
    }
}


print("Nama:", mahasiswa["name"])
print("Usia:", mahasiswa["usia"])
print("Program Studi:", mahasiswa["prodi"])
print("Fakultas:", mahasiswa["fakultas"])
print("Nilai Struktur Data:", mahasiswa["nilai"]["struktur_data"])
print("\n")

#update data :
mahasiswa['fakultas'] ="Fakultas Teknologi Informasi dan Komunikasi"
mahasiswa['nilai']['struktur_data'] = 90

print("UPDATE DATA")
print("Nama:", mahasiswa["name"])
print("Usia:", mahasiswa["usia"])
print("Kelas:", mahasiswa["prodi"])
print("Fakultas:", mahasiswa["fakultas"])
print("Nilai Struktur Data:", mahasiswa["nilai"]["struktur_data"])

Nama: Mark Lee
Usia: 24
Program Studi: Teknik Informatika
Fakultas: Fakultas Teknik
Nilai Struktur Data: 87


UPDATE DATA
Nama: Mark Lee
Usia: 24
Kelas: Teknik Informatika
Fakultas: Fakultas Teknologi Informasi dan Komunikasi
Nilai Struktur Data: 90